.slider-container {
  position: relative;
  background-color: rgba(38, 50, 56, 0.9);
  height: 25%;
  overflow: hidden;
  border-radius: 120px;
  width: 100%;
  margin-bottom: 6%;
}

.button-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.button {
  background-color: rgba(212, 215, 217, 0.9);
  border: none;
  color: #333;
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #ddd;
}

.slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
}

.slide {
  height: auto;
  border-right: 1px solid #ddd;
  color: #f2eded;
  padding: 10px;
  text-align: center;
  cursor: grab;
  z-index: 0;
}

/* Estilos condicionais para diferentes tipos de ATMs */
.slide.green {
  background-color: green;
}

.slide.yellow {
  background-color: yellow;
}

.slide.red {
  background-color: red;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
